#  Database
DB_URL=jdbc:postgresql://localhost:5432/payment_db
DB_USER=postgres
DB_PASSWORD= "add your own password "
DB_POOL_SIZE=10

# Security
# Admin credentials (used for POST /merchants)
ADMIN_USER=admin
ADMIN_PASSWORD=changeme

# Bearer token (used for all other authenticated endpoints)
MERCHANT_API_TOKEN=merchant-secret-token
