#  This is sample, you need to create an actual .env file of this format and place it in exact root folder
#  The system picks automatically each time it is meant to run


#  Database
DB_URL=jdbc:postgresql://localhost:5432/payment_db
DB_USER=postgres
DB_PASSWORD= "add your own password "
DB_POOL_SIZE=10

# Security
# Admin credentials (used for POST /merchants)
ADMIN_USER=admin
ADMIN_PASSWORD=changeme

# Bearer token (used for all other authenticated endpoints)
MERCHANT_API_TOKEN=merchant-secret-token
